main {
    flex: 1;
}

.main-container {
    text-align: center;
    padding: 40px;
}

.main-container h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.main-container p {
    color: #555;
    margin-bottom: 30px;
}

input {
    width: 300px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.card-box {
    display: flex;
    justify-content: center;
    gap: 30px;
}

form input {
    width: 500px;
    height: 80px;
    border: 1px solid #dddddd;
    margin: 30px;
    border-radius: 20px;
    margin-bottom: 50px;
    
    padding: 30px;
    font-size: 1.1rem;
}

input::placeholder {
    color: rgb(139, 139, 139);
}

.card {
    width: 400px;
    height: 300px;
    background: white;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #eee;
    text-align: left;
    transition: 0.2s;
    font-size: 0.9rem;

    height: auto;
}

.card:hover {
    transform: translateY(-4px);
}